.board {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.board div {
    height: 40px;
    width: 40px;
    border: 1px solid black;
}

.snake {
    background-color: black;
}

.snakeWhite {
    background-color: white;
}
