.board {
    margin:10px;
    width:310px;
    height: 310px;
    border:10px solid black;
    position:relative;
}

.board div {
    border: 1px solid green;
    width: 10px;
    height: 10px;
    position: absolute;
    display: inline-block;
    background-color: black;
}

img {
    width: 310px;
    height: 120px;
    border: 10px solid black;
}
